body {
  background-color: #f8fafe;
}

header {
  display: flex;
}

#myCount {
  color: black;
  text-align: center;
  font-size: 30px;
}

.main-team {
  margin: 30px 0px 0px 300px;
  font-size: 18px;
  font-weight: 500;
  color: #7de0ac;
}

.modal-btn {
  background-color: #f8fafe;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #7de0ac;
  margin: 28px 0px 0px 50px;
}

.game-ex {
  margin: 30px 0px 0px 50px;
  font-size: 18px;
  font-weight: 500;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.team-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.modal-team {
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}

.modal-team h2 {
  color: #7de0ac;
}

.modal-team div {
  margin-top: 70px;
}
.Github img {
  background-color: white;
  border-radius: 100px;
  height: 50px;
}

.modal-close {
  padding-left: 77px;
  padding-right: 77px;
  height: 52px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: white;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 50px;
  transition: 0.5s;
}

.modal-close:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.modal-content-title {
  font-size: 70px;
}

.modal-content {
  text-align: center;
  margin-top: 10%;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 30px;
}

.game-title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.log-btn {
  background-color: #f8fafe;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #7de0ac;
  margin: 28px 0px 0px 50px;
}

#stopwatch {
  text-align: center;
  font-size: 60px;
}

.log-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.modal-log {
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}

.modal-close {
  padding-left: 77px;
  padding-right: 77px;
  height: 52px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: white;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 50px;
  transition: 0.5s;
}

.modal-close:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.kor-text {
  margin-top: 30px;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 40px;
}

.drop-container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  border: 1px solid #ddd;
  padding: 20px;

  background-color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  margin: 5px;
}

.show-result-box {
  text-align: center;
}

.show-result {
  margin: 30px 30px;
  padding-left: 77px;
  padding-right: 77px;
  height: 52px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #03d2b4;
  font-size: 15px;
  border-radius: 4px;
  transition: 0.3s;
}
.show-result:hover {
  background-color: rgba(0, 38, 255, 0.5);
}

.result-text-box {
  display: inline-block;
}

.result-text {
  display: none;
}

.vibration {
  background-color: rgba(1, 1, 1, 0.2);
  animation: vibration 0.4s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(-4deg);
  }
}

.result-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-result-text {
  margin-top: 40px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
}

.result-text {
  margin-top: 40px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  opacity: 0.5;
}
